<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pinalpha</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/Pin-Alpha-Logo.ico" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- owl-carousel -->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/font-awesome.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup/magnific-popup.css" />
    <!-- media element player -->
    <link href="css/mediaelementplayer.min.css" rel="stylesheet" type="text/css" />
    <!-- Animate -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="css/ionicons.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive -->
    <!-- custom style -->
    <link rel="stylesheet" href="css/custom.css" />
        <link rel="stylesheet" href="css/responsive.css">
    <!--confermation model -->    
    <link rel="stylesheet" href="css/duDialog.css"/>
  

    
    {% block styles %}

    {% endblock %}

</head>

 <body data-spy="scroll" data-offset="80" style = "background-color:#ffffff">
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <div class="loader">
               <div class="cube">
                 <img width = "100px" src = "images/copper-loader.gif" />
               </div>
            </div>
         </div>
      </div>
      <!-- loading End -->
      <!-- Header -->
      <header id="main-header" class="dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/">
                                <img class="img-fluid logo_img" id="logo_img" src="images/Pin-Alpha-Logo.png" alt="#">
                            </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="ion-navicon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto w-100 justify-content-end ">
                                <li class="nav-item">
                                    <a class="nav-link home-nav active" href="#iq-home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link home-nav " href="#how-it-works">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link home-nav" href="#great-screenshots">Screenshots</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link home-nav" href="#team">Team</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->


     
{% block main %}

{% endblock %}
 <section class="footer-info iq-pt-60" style = "background-color:#6c757d40">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="iq-footer-box text-left">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-location-outline"></i>
                            </div>
                            <div class="footer-content">
                                <h4 class="iq-tw-6 iq-pb-10">Address</h4>
                                <p>32 Carpenter Street, 04-01, Singapore, 05991</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 r4-mt-30">
                        <div class="iq-footer-box text-left">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-telephone-outline"></i>
                            </div>
                            <div class="footer-content">
                                <h4 class="iq-tw-6 iq-pb-10">Tel</h4>
                                <p>+65 - 92479592
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 r-mt-30">
                        <div class="iq-footer-box text-left">
                            <div class="iq-icon">
                                <i aria-hidden="true" class="ion-ios-email-outline"></i>
                            </div>
                            <div class="footer-content">
                                <h4 class="iq-tw-6 iq-pb-10">Email</h4>
                                <p>contact@pinalpha.com
                                    <br>24 X 7 support
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 align-self-center">
                        <ul class="info-share">
                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row iq-mt-40">
                    <div class="col-sm-12 text-center">
                        <div class="footer-copyright iq-ptb-20">Copyright @<span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="/" class="text-green">Pin-Alpha</a> All Rights Reserved </div>
                    </div>
                </div>
            </div>
        </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {# <link rel="stylesheet" href="css/bootstrap.min.css"> #}
    {# <script src="js/bootstrap.min.js"></script> #}
    <!-- Main js -->
    <script src="js/main.js"></script>
    <!-- Google captcha code Js -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Custom -->
    <script src="js/custom.js"></script>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c9067ec101df77a8be34908/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<script src="js/duDialog.js"></script>
{% block scripts %}

{% endblock %}



</body>

</html>

