{% extends 'base.twig' %}

{% block styles %}

{% endblock %}

{% block main %}
      <!-- Banner -->
    <section id="iq-home" class="iq-banner-08 overview-block-pt grey-bg" style="background-color:#17a2b830">
        <div class="container">
            <div class="banner-text">
                <div class="row">
                    <h1 class="text-uppercase iq-font-blue iq-tw-3">CONTACTO</h1>
                    <p class="iq-font-black iq-pt-15 iq-mb-40">
                        </p>

                </div>
            </div>
        </div>
        <div class="animations">
            <div class="ani ani-6">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1024 1024">
                    <path id="followPath"
                          d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                    </path>
                    <path id="dashedPath"
                          d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z">
                    </path>
                    <path id="airplain" d="M8.04 84L92 48 8.04 12 8 40l60 8-60 8z">
                        <animateMotion xlink:href="#airplain" dur="6s" fill="freeze" repeatCount="indefinite"
                                       rotate="auto">
                            <mpath xlink:href="#followPath"></mpath>
                        </animateMotion>
                    </path>
                </svg>
            </div>
        </div>
        </div>
    </section>

     <!-- Footer Info -->
  <section id="contact-us" class="footer-info white-bg">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-6 col-lg-4">
          <div class="iq-get-in">
            <h4 class="iq-tw-7 iq-mb-20">Contáctenos</h4>
            <form id="contact" method="post">
              <div class="contact-form">
                <div class="section-field">
                  <input class="require" id="name" type="text" placeholder="Nombre*" name="name">
                </div>
                <div class="section-field">
                  <input class="require" id="email" type="email" placeholder="Email*" name="email">
                </div>
                <div class="section-field">
                  <input class="require" id="phone" type="text" placeholder="Teléfono*" name="phone">
                </div>
                <div class="section-field textarea">
                  <textarea id="message" class="input-message require" placeholder="Comentarios*" rows="5" name="message"></textarea>
                </div>
                <button id="submit" name="submit" type="button"  onclick="send()" class="button iq-mt-15">Enviar Mensaje</button>
                <div class="alert alert-success alert-dismissible fade show" role="alert" id="success">
                  <strong>Thank You, Your message has been received.</strong>.
                  <button type="button" class="close" data-dismiss="alert"  aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.840108181602!2d144.95373631539215!3d-37.8172139797516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1497005461921" style="border:0" allowfullscreen></iframe>
  </section>

{% endblock %}

{% block scripts %}
<script>
  function send(){
   

    var json = {
      name : $('#name').val(),
      email : $('#email').val(),
      phone : $('#phone').val(),
      message : $('#message').val(),
    }

      $.post("/mail/send",json)
                .done(function( data ) {
                   new duDialog('confirmation', 'Thank you for contacting us.');
                });
    
  }
</script>
{% endblock %}