{% extends 'base.twig' %}


{% block styles %}

    
{% endblock %}
{% block main %}
 <!-- Banner -->
    <section class="overview-block-ptb iq-breadcrumb iq-banner-13 text-left " id="iq-home" style = "background-image:url(images/home-background.png); background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
      <div class="banner-text">
      <div class="container">
         <div>
            <div class="home-center">
               <h2 class="iq-mb-20 iq-tw-9 r-mt-30 home-text">Supercharge Financial Analytics </h2>
               <p>We deliver real-time in-depth financial analysis through AI-powered linked data</p>
               <a href="https://app.pinalpha.com/" class="button  iq-mt-5 home-button">Beta Version</a>
            </div>
         </div>
      </div>
      </div>
   </section>`
    <!-- Banner End -->

 <!-- Main Content -->
    <div class="main-content">
      
    <section id="how-it-works" class="overview-block-ptb how-works r-mt-40">
         <div class="container-fluid">
            <div class="row ">
               <div class="col-lg-6 col-md-6 ">
                  <img class="iq-works-imgs img-fluid" src="images/Info-img.png" alt="drive01">
               </div>
               <div class="col-lg-4 col-md-5 align-self-center">
                  <h2 class="iq-tw-6 iq-mb-25">From Data to Knowledge</h2>
                  <p class="iq-font-15">We utilize AI/NLP to read through unstructured data, such as live news, 
                  and understand the meaning of it, just like a human brain would. We then make connections between 
                  extracted information and related current/historical information in our proprietary knowledge graph,
                  connecting millions of data points in real-time to generate fully automated financial analysis giving exponential
                   revenue opportunities.
                </p>
                  <a href="javascript:void(0)" class="button iq-mt-10">Click Here</a>
               </div>
            </div>
         </div>
      </section>

        <!-- How it Works -->
        <section id="how-it-works" class="it-works" style = "    margin-bottom: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h3 class="title iq-tw-7">How it Works</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-4">
                        <div class="iq-works-box text-left">
                            <div class="step">1</div>
                            <div class="icon-bg text-center">
                                <img src="images/services/icon1.png" class="img-fluid" alt="#">
                            </div>
                            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15"> Homogeneous Analytics From Unstructured Data</h5>
                            <p>PinAlpha’s knowledge extraction engine process billions of data points in real-time across heterogeneous sources including news, financial information, transcripts, audios and more.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 r-mt-30">
                        <div class="iq-works-box text-left">
                            <div class="step">2</div>
                            <div class="icon-bg text-center">
                                <img src="images/services/icon2.png" class="img-fluid" alt="#">
                            </div>
                            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Real-time Dynamic Knowledge Graph</h5>
                            <p>Our AI engine then link such information to build PinAlpha’s proprietary knowledge graph which evolves over time and consists of companies, persons, locations, events and even concepts.</p>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 r-mt-30">
                        <div class="iq-works-box text-left">
                            <div class="step">3</div>
                            <div class="icon-bg text-center">
                                <img src="images/services/icon3.png" class="img-fluid" alt="#"></div>
                            <h5 class="iq-tw-7 text-uppercase iq-mt-25 iq-mb-15">Uncover Hidden Connections</h5>
                            <p>PinAlpha’s insights engine automatically compute impacts and exposures from millions of connections which are previously hidden to the human eye thus allowing users to find alpha.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How it Works END -->
 
        <!-- Great Screenshots -->
        <section id="blog" class="overview-block-ptb iq-bg-over   iq-tool-feature  iq-font-white" style = "margin-top:30px; overflow:hidden;background-color:#5f9ea06e">
            <div class="soft-about">
                <img class="box-img1 img-fluid wow fadeInUp" alt="" src="images/device/awesome-img1.png" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;">
                <img class="box-img6 img-fluid wow fadeInUp" alt="" src="images/device/awesome-img6.png" data-wow-duration="2.5s" style="visibility: visible; animation-duration: 2.5s; animation-name: fadeInUp;">
                <img class="box-img3 img-fluid wow rotateIn" alt="" src="images/device/awesome-img3.png" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: rotateIn;">
                <img class="box-img4 img-fluid wow fadeInRight" alt="" src="images/device/awesome-img4.png" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInRight;">
                <img class="box-img5 img-fluid wow rotateInUpRight" alt="" src="images/device/awesome-img5.png" data-wow-duration="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: rotateInUpRight;">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <h2 class="iq-tw-6 iq-mt-100 iq-mb-20 iq-font-white">Multi-Platform</h2>
                        <p class="iq-font-15">Our application is platform agnostic</p>
                    </div>
                    <div class="col-lg-6 col-md-12 soft-about">
                    </div>
                </div>
            </div>
        </section>

        <section id="great-screenshots" class="overview-block-ptb iq-bg-over  iq-over-red-80 iq-screenshots iq-parallax" data-jarallax='{"speed": 0.6}'>
            <div class="container">
                {# <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title white">
                            <h3 class="title iq-tw-7">Great Screenshots</h3>
                            <p class="iq-font-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
                        </div>
                    </div>
                </div> #}
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <div class="screenshots-slider popup-gallery">
                            <div class="slider-container">
                                <div class="slider-content">
                                    <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="images/screenshots/01.png" alt="1" /></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="images/screenshots/02.png" alt="2" /></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="images/screenshots/03.png" alt="3" /></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="images/screenshots/04.png" alt="4" /></a>
                                    </div>
                                    {# <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="images/screenshots/05.jpg" alt="5" /></a>
                                    </div>
                                    <div class="slider-single">
                                        <a href="images/screenshots/01.jpg" class="popup-img"><img class="slider-single-image" src="images/screenshots/06.jpg" alt="6" /></a>
                                    </div> #}
                                </div>
                                <a class="slider-left" href="javascript:void(0);"><i style = "color:black" class="fa fa-angle-right"></i></a>
                                <a class="slider-right" href="javascript:void(0);"><i style = "color:black" class="fa fa-angle-left"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </section>
        <!-- Great Screenshots END -->

         <!-- Meet the Team -->
        {# <section id="team" class="overview-block-ptb white-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h3 class="title iq-tw-7">Meet the Team</h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley,</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-3 col-md-6">
                        <div class="iq-team grey-bg">
                            <div class="iq-team-img">
                                <img src="images/team/01.jpg" class="img-fluid center-block" alt="#">
                            </div>
                            <div class="iq-team-info text-center">
                                <h5 class="iq-font-black iq-tw-6">JD Adams</h5>
                                <span class="team-post iq-tw-5">Web Designer</span>
                            </div>
                            <div class="share">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 r4-mt-30">
                        <div class="iq-team grey-bg">
                            <div class="iq-team-img">
                                <img src="images/team/02.jpg" class="img-fluid center-block" alt="#">
                            </div>
                            <div class="iq-team-info text-center">
                                <h5 class="iq-font-black iq-tw-6">Rinkal Oberoi</h5>
                                <span class="team-post iq-tw-5">Web Designer</span>
                            </div>
                            <div class="share">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                        <div class="iq-team grey-bg">
                            <div class="iq-team-img">
                                <img src="images/team/03.jpg" class="img-fluid center-block" alt="#">
                            </div>
                            <div class="iq-team-info text-center">
                                <h5 class="iq-font-black iq-tw-6">Jason Deol</h5>
                                <span class="team-post iq-tw-5">Web Designer</span>
                            </div>
                            <div class="share">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-6 r-mt-30">
                        <div class="iq-team grey-bg">
                            <div class="iq-team-img">
                                <img src="images/team/04.jpg" class="img-fluid center-block" alt="#">
                            </div>
                            <div class="iq-team-info text-center">
                                <h5 class="iq-font-black iq-tw-6">kush Jackson</h5>
                                <span class="team-post iq-tw-5">Web Designer</span>
                            </div>
                            <div class="share">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-google"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> #}
        <!-- Meet the Team END -->

<section class="overview-block-ptb " id="team" style = "background-color : #5d6d73">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 iq-font-white">
          <div class="heading-title white text-center">
            <h2 class="title white iq-tw-6 iq-font-white">Meet our team</h2>
          </div>
        </div>
      </div>
      <div class="row">
        {# <div class="col-lg-3 col-sm-6 iq-mtb-15">
          <div class="iq-team2 text-center">
            <div class="team-content">
              <img alt="" class="img-fluid" src="images/team/small/01.jpg">
            </div>
            <div class="avtar-name iq-mt-20 iq-font-white text-center">
              <a href="team-details-1.html">
                <h6 class="iq-font-white iq-tw-6">Ellie Davis</h6>
              </a>
              <span>CEO, Sofbox</span>
            </div>
            <div class="team-social iq-mt-10">
              <ul class="list-inline">
                <li>
                  <a href="#"> <i class="fa fa-facebook"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-twitter"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-pinterest-p"></i> </a>
                </li>
              </ul>
            </div>
          </div>
        </div> #}
        <div class="col-lg-4 col-sm-6 iq-mtb-15">
          <div class="iq-team2 text-center">
            <div class="team-content">
              <img alt="" class="img-fluid" src="images/team/Batya.jpeg">
            </div>
            <div class="avtar-name iq-mt-20 iq-font-white text-center">
              <a href="team-details-1.html">
                <h6 class="iq-font-white iq-tw-6">Batya Shulman</h6>
              </a>
              <span>Co-founder</span>
            </div>
            {# <div class="team-social iq-mt-10">
              <ul class="list-inline">
                <li>
                  <a href="#"> <i class="fa fa-facebook"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-twitter"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-pinterest-p"></i> </a>
                </li>
              </ul> 
            </div>  #}
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 iq-mtb-15">
          <div class="iq-team2 text-center">
            <div class="team-content">
              <img alt="" class="img-fluid" src="images/team/KASUN PERERA-004.jpg">
            </div>
            <div class="avtar-name iq-mt-20 iq-font-white text-center">
              <a href="team-details-1.html">
                <h6 class="iq-font-white iq-tw-6">Kasun Perera</h6>
              </a>
              <span>Co-Founder</span>
            </div>
            {# <div class="team-social iq-mt-10">
              <ul class="list-inline">
                <li>
                  <a href="#"> <i class="fa fa-facebook"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-twitter"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-pinterest-p"></i> </a>
                </li>
              </ul>
            </div> #}
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 iq-mtb-15">
          <div class="iq-team2 text-center">
            <div class="team-content">
              <img alt="" class="img-fluid" src="images/team/saatviga.jpeg">
            </div>
            <div class="avtar-name iq-mt-20 iq-font-white text-center">
              <a href="team-details-1.html">
                <h6 class="iq-font-white iq-tw-6">Saatviga Sudhahar</h6>
              </a>
              <span>Technical Adviser</span>
            </div>
            {# <div class="team-social iq-mt-10">
              <ul class="list-inline">
                <li>
                  <a href="#"> <i class="fa fa-facebook"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-twitter"></i> </a>
                </li>
                <li>
                  <a href="#"> <i class="fa fa-pinterest-p"></i> </a>
                </li>
              </ul>
            </div> #}
          </div>
        </div>
      </div>
    </div>
  </section>



    <section>
        <div class="iq-our-clients white-bg iq-ptb-50">
            <div class="container">
            <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title iq-mt-50">
                            <h3 class="title iq-tw-7">Powered by</h3>
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="4" data-items-laptop="5" data-items-tab="4" data-items-mobile="3" data-items-mobile-sm="1" data-margin="30" >
                            <div class="item"> <img class="img-fluid center-block" src="images/clients/01.png" alt="#"></div>
                            <div class="item"> <img class="img-fluid center-block" src="images/clients/02.png" alt="#"></div>
                            <div class="item"> <img class="img-fluid center-block" src="images/clients/03.png" alt="#"></div>
                            <div class="item"> <img class="img-fluid center-block" src="images/clients/04.png" alt="#"></div>
                            {# <div class="item"> <img class="img-fluid center-block" src="images/clients/05.png" alt="#"></div>
                            <div class="item"> <img class="img-fluid center-block" src="images/clients/06.png" alt="#"></div>
                            <div class="item"> <img class="img-fluid center-block" src="images/clients/07.png" alt="#"></div>
                            <div class="item"> <img class="img-fluid center-block" src="images/clients/08.png" alt="#"></div>
                            <div class="item"> <img class="img-fluid center-block" src="images/clients/09.png" alt="#"></div> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

     


   

 


{% endblock %}

{% block scripts %}
  
   
{% endblock %}