/*

Template: Sofbox - Responsive Software Landing Page
Author: iqonicthemes.in
Version: 3.0
Design and Developed by: iqonicthemes.in

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/

.home-center{
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 100px;

}
.home-text{
    color: #23aefd;
    text-transform: uppercase
}

.home-button{
    color: #f8f9fa;
    background: #ffffff12;
    border-radius: 30px;
    border: 1px solid #23aefc;
    font-size: medium;
}

.home-nav{
    color: white !important;
}

.home-scroll{
    color: black !important;
}